html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #00539F;
}

.navbar {
  overflow: hidden;
  text-align: center;
  font-size: 17px;
  width: 100%;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  padding: 0;
  text-decoration: none;
  width: 119px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar li {
    padding: 0;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

.mainbody {
  background-color: turquoise;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  width: 100%;
  height: 100%;
}

.maincontent {
  background-image: url(../images/headerBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

.sidebar li {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

img {
  display: block;
  margin: auto;
  align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-left: 25px;
  margin-top: auto;
  color: turquoise;
}

li a {
  color: turquoise;
  padding-left: 25px;
}

h2 {
  color: turquoise;
  padding-left: 25px;
}

button {
  margin-right: 25px;
}

@media screen and (max-height: 450px) {
  aside {padding-top: 12px;}
  aside li {font-size: 12px;}
}
